# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
logs
.cache

# The actual modpack stuff
*.zip
saves/
screenshots/
themes/
.curseclient
minecraftinstance.json
options.txt
rhino.local.properties
usercache.json
usernamecache.json
WailaErrorOutput.txt
logs/
mods/
essential/
emojiful/
blueprint-online-image-cache/
.idea/
crash-reports/
config/blockswap/known_states/
config/biometweaker/
config/quark_emotes
config/cristellib
